torch
torchvision
matplotlib
tqdm
easydict
addict
pyyaml
scipy
numpy
pathspec
pyserial
rplidar-roboticia
websockets
pandas
termcolor
tensorboard
pyserial
seaborn
openvino
openvino-dev
